@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

header{
    font-family: "Noto Sans JP", sans-serif, "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic";
    background-image: url("images/soccer_ground_crop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color:rgba(255,255,255, 0.1);
	background-blend-mode:lighten;
    background-size: cover;
    width: 100%;
    height: 330px;
}

@media screen and (max-width: 480px) {
    header{
        font-family: "Noto Sans JP", sans-serif, "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic";
        background-image: url("images/soccer_ground_crop.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-color:rgba(255,255,255, 0.1);
        background-blend-mode:lighten;
        background-size: cover;
        width: 100%;
        height: 330px;
    }
}


body{
    font-family: "Noto Sans JP", sans-serif, "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic";
    background-color:seashell;
}

.nav-link{
    color: white;
	font-weight: bold;
}


.nav-link:hover{
    color: black;
	font-weight: bold;
    text-decoration:underline;
}

.nav-link2{
    color:gray;
    font-weight: bold;
}

.nav-link2:hover{
    color: black;
    font-weight: bold;
    text-decoration:underline;
}

p.hover-sample:hover{
	color: black;
}

.icon {
    width: 26px;
    height: 26px;
}

.icon_qiita {
    width: 26px;
    height: 26px;
    border-radius: 30px;
}

.section{
    font-size: small;
}
@media screen and (max-width: 480px) {
    .section{
        font-size:xx-small;
    }
}

.inner{
    padding: 0px 120px;
}

@media screen and (max-width: 480px) {
    .inner{
        padding: 0px 12px;    
    }
}

.color0 {
	background-color:seashell;
}

.color1 {
	background-color:whitesmoke;
}

.color2 {
	background-color:white;
}

.color3 {
	background-color:white;
}

.paper{
    font-size:x-small
}

.caption{
    font-size: xx-small;
}


.iframe{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 480px) {
    .iframe{
        width: 20px;
        height: 10px;
    }
}